
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form class="new-todo-input">
        <input type="text" id="new-todo" placeholder="What needs to be done?" />
        <input type='submit' class="save-button" value='Save'>
        </form>
      </header>

      <section id="main">
        <ul id="todo-list">
        </ul>
        <input type="checkbox" id="toggle-all">
      </section>

      <footer id="footer">
        <span id="todo-count">
          <strong>{{tasks}}</strong> todos left
        </span>
        <ul id="filters">
          <li>
            <a href="#/all" class="selected">All</a>
          </li>
          <li>
            <a href="#/active" class="activetasks">Active</a>
          </li>
          <li>
            <a href="#/completed" class="completedtasks">Completed</a>
          </li>
        </ul>

        <button id="clear-completed">
          Clear completed (1)
        </button>
      </footer>
    </section>

    <footer id="info">
      <p>Double-click to edit a todo</p>
    </footer>
